.list {
    background-color: #f1f1f1;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.list a{
    display: block;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
}
.list a:hover {
    background-color: #ddd;
}
.btn-list {
    background-color: grey;
    color: white;
}